body {
    background-color: #ffffff;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 28px;
}

.columnLead {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 28px;
}

@media (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
}	

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.btn{
	padding:8px 16px;
	border:none;
	letter-spacing:4px;
}
h1 {
	font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
	color: #EC6602;
	text-align:top;
	margin-top:-55px;
	margin-right:10px;
}	

.mainContent {
	margin-top: 5em;
    margin-left: 0.3em;
}

label {
	font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
	font-size:1em;
}

.header{
	margin-left:2em;
}
.footer {
	margin-top:2em;
	margin-left: 30em;
}

.modalFooter {
	margin-top:2em;
}

tr {
	margin:5em;
	padding:2em;
}

.tblDiv {
	margin-top:1em;
}

#btnNewJoinee {
	color: -webkit-link;
    cursor: auto;
    text-decoration: underline;
	border: none;
    background: #ffffff;
}

input {
	border-radius: 5px;
	height:1.5em;
	margin-left:1em;
}

textarea.introduction{
	border-style: solid;
    border-width: 2px;
	border-color: #ff7f50;
	border-radius: 5px;
	width: 50%;
}

.textAreaPreview {
	border:none;
	width: 80%;
	
}

.btnLink {
	background-color: #EC6602;
	border-radius: 5px;
	border-color:#EC6602;
}

.btnLink a {
	text-decoration:none;
	font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
	font-size:1.5em;
	color:#ffffff;
	margin:5px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
	font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
	font-size:1 em;
}

/* The Close Button */
.close, .closePreview , .closePicUpload{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus,
.closePreview:hover,
.closePreview:focus,
#btnNewJoinee:hover,
#btnNewJoinee:focus ,
.closePicUpload:hover,
.closePicUpload:focus,
.btnBack:hover,
.btnBack:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.instructions {
	font-family:Courier New;Sans-Serif;
}

.tableHeader {
	background-color: #EC6602;
	color:#ffffff;
	padding:5px;
	font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
	font-size:1em;
}

.tableRowOdd {
	background-color: #F8D3CB;
	padding:5px;
}

.tableRowEven {
	background-color: #FBEAE7;
	padding:5px;
}

.btnBack {
	display:inline;
	border:none;
	background-color:#ffffff;
}
.imgBack {
	width:40px;
	height:40px;
	display:inline;
}

.passiveTabContent {
	display:none;
}

.tabHeaderText {
	display:inline;
}

.btnHeader {
	background-color:#ffffff;
	font-family: Verdana, Helvetica, Sans-Serif;
	font-size:1em;
	font-weight:bold;
	border:none;
	padding-bottom:3px;
	outline: none;
}

.btnActiveTab {
	border-bottom: 5px solid #EC6602
}

.tabsHeader {
	display:inline;
}

.verticalLine {
	display:inline;
	border-left:1px solid #EC6602
}

.failedTraining {
	background-color:red;
}

.btnInTabHeader {
	margin-left:23%;
	display:inline;
}

.acidjs-css3-treeview,
.acidjs-css3-treeview *
{
    padding: 0;
    margin: 0;
    list-style: none;
}
 
.acidjs-css3-treeview label[for]::before,
.acidjs-css3-treeview label span::before
{
    content: "\25b6";
    display: inline-block;
    margin: 2px 0 0;
    width: 13px;
    height: 13px;
    vertical-align: top;
    text-align: center;
    color: #e74c3c;
    font-size: 8px;
    line-height: 13px;
}
 
.acidjs-css3-treeview li ul
{
    margin: 0 0 0 22px;
}
 
.acidjs-css3-treeview *
{
    vertical-align: middle;
}
 
.acidjs-css3-treeview
{
    font: normal 11px/16px "Segoe UI", Arial, Sans-serif;
}
 
.acidjs-css3-treeview li
{
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
 
.acidjs-css3-treeview input[type="checkbox"]
{
    display: none;
}
 
.acidjs-css3-treeview label
{
    cursor: pointer;
}
 
.acidjs-css3-treeview label[for]::before
{
    -webkit-transform: translatex(-24px);
    -moz-transform: translatex(-24px);
    -ms-transform: translatex(-24px);
    -o-transform: translatex(-24px);
    transform: translatex(-24px);
}
 
.acidjs-css3-treeview label span::before
{
    -webkit-transform: translatex(16px);
    -moz-transform: translatex(16px);
    -ms-transform: translatex(16px);
    -o-transform: translatex(16px);
    transform: translatex(16px);
}
 
.acidjs-css3-treeview input[type="checkbox"][id]:checked ~ label[for]::before
{
    content: "\25bc";
}
 
.acidjs-css3-treeview input[type="checkbox"][id]:not(:checked) ~ ul
{
    display: none;
}
 
.acidjs-css3-treeview label:not([for])
{
    margin: 0 8px 0 0;
}
 
.acidjs-css3-treeview label span::before
{
    content: "";
    border: solid 1px #1375b3;
    color: #1375b3;
    opacity: .50;
}
 
.acidjs-css3-treeview label input:checked + span::before
{
    content: "\2714";
    box-shadow: 0 0 2px rgba(0, 0, 0, .25) inset;
    opacity: 1;
}